In [1]:
import numpy as np

## Populate arrays with specific numbers

In [9]:
one_dim_array = np.array([1, 2, 3, 4, 5])
print(type(one_dim_array))
one_dim_array

<class 'numpy.ndarray'>

array([1, 2, 3, 4, 5])

In [12]:
two_dim_array = np.array([[1, 2], [3, 4], [5, 6]])
print(type(two_dim_array))
one_dim_array

<class 'numpy.ndarray'>

array([1, 2, 3, 4, 5])

## Populate arrays with sequences of numbers

In [14]:
seq_of_nums = np.array(np.arange(5, 17))
seq_of_nums

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

Notice that `np.arange` generates a sequence that includes the lower bound (5) but not the upper bound (12).

## Populate arrays with random numbers

In [15]:
random_integers_between_50_and_100 = np.random.randint(low=50, high=101, size=(6))
print(random_integers_between_50_and_100)

[59 94 76 79 70 63]

To create random floating-point values between 0.0 and 1.0, call `np.random.random`. For example:

In [21]:
random_floats_between_0_and_1 = np.random.random([6])
print(random_floats_between_0_and_1)

[0.5399546  0.08292343 0.57891723 0.4055134  0.64048558 0.56193139]

## Mathematical Operations on NumPy Operands

If you want to add or subtract two vectors or matrices, linear algebra requires that the two operands have the same dimensions. Furthermore, if you want to multiply two vectors or matrices, linear algebra imposes strict rules on the dimensional compatibility of operands. Fortunately, NumPy uses a trick called [**broadcasting**](https://developers.google.com/machine-learning/glossary/#broadcasting) to virtually expand the smaller operand to dimensions compatible for linear algebra. For example, the following operation uses broadcasting to add 2.0 to the value of every item in the vector created in the previous code cell:

In [22]:
random_floats_between_0_and_1

array([0.5399546 , 0.08292343, 0.57891723, 0.4055134 , 0.64048558,
       0.56193139])

In [24]:
random_floats_between_0_and_1 + 2

array([2.5399546 , 2.08292343, 2.57891723, 2.4055134 , 2.64048558,
       2.56193139])

In [25]:
random_floats_between_0_and_1 * 10

array([5.399546  , 0.82923431, 5.78917225, 4.05513404, 6.4048558 ,
       5.61931387])

## Task 1: Create a Linear Dataset

Your goal is to create a simple dataset consisting of a single feature and a label as follows:

1. Assign a sequence of integers from 6 to 20 (inclusive) to a NumPy array named `feature`.
2. Assign 15 values to a NumPy array named `label` such that:

```
   label = (3)(feature) + 4
```
For example, the first value for `label` should be:

```
  label = (3)(6) + 4 = 22
 ```

In [33]:
feature = np.array(np.arange(6, 21))
feature

array([ 6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [52]:
label = 3*feature + 4
label

array([22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64])

## Task 2: Add Some Noise to the Dataset

To make your dataset a little more realistic, insert a little random noise into each element of the `label` array you already created. To be more precise, modify each value assigned to `label` by adding a *different* random floating-point value between -2 and +2. 

Don't rely on broadcasting. Instead, create a `noise` array having the same dimension as `label`.

In [53]:
noise = np.random.random([15])*2
noise

array([1.15256895, 0.87115281, 0.9047676 , 0.91899509, 0.895118  ,
       1.41981419, 0.46621877, 1.19352732, 0.72595497, 1.22472059,
       1.54296107, 1.42531476, 1.92609277, 1.80971498, 0.81164475])

In [54]:
label = label + noise
label

array([23.15256895, 25.87115281, 28.9047676 , 31.91899509, 34.895118  ,
       38.41981419, 40.46621877, 44.19352732, 46.72595497, 50.22472059,
       53.54296107, 56.42531476, 59.92609277, 62.80971498, 64.81164475])

## Broadcast Operations
When operating on two arrays, NumPy compares their shapes element-wise. It starts with the trailing dimensions, and works its way forward. Two dimensions are compatible when
```
1. they are equal, or
2. one of them is 1
```

In [60]:
a = np.array([1.0, 2.0, 3.0])
b = np.array([2.0, 2.0, 2.0])
a * b

array([2., 4., 6.])

Here `a` and `b` is equal in size. So it is possible.

In [102]:
a = np.array([1.0, 2.0, 3.0])
b = 2.0
a * b

array([2., 4., 6.])

Here size of `b` is `1`. So it is possible.

In [76]:
x = np.arange(4)
xx = x.reshape(4,1)
y = np.ones(5)
z = np.ones((3,4))

In [93]:
print(x.shape)
print(y.shape)
print(x)
print(y)

(4,)
(5,)
[0 1 2 3]
[1. 1. 1. 1. 1.]

In [103]:
# (x+y).shape

Here, `x` and `y` is not equal in size

In [97]:
print(xx.shape)
print(y.shape)
print(xx)
print(y)

(4, 1)
(5,)
[[0]
 [1]
 [2]
 [3]]
[1. 1. 1. 1. 1.]

In [98]:
xx+y

array([[1., 1., 1., 1., 1.],
       [2., 2., 2., 2., 2.],
       [3., 3., 3., 3., 3.],
       [4., 4., 4., 4., 4.]])

`xx`     =  4 x 1
`y`      =      5
`result` =  4 x 5

In [104]:
(xx+y).shape

(4, 5)

In [106]:
print(x.shape)
print(z.shape)
print(x)
print(z)

(4,)
(3, 4)
[0 1 2 3]
[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

`x`      =      4
`z`      =  3 x 4
`result` =  3 x 4

In [111]:
(x+z).shape

(3, 4)

In [112]:
x+z

array([[1., 2., 3., 4.],
       [1., 2., 3., 4.],
       [1., 2., 3., 4.]])

In [116]:
a = np.array([0.0, 10.0, 20.0, 30.0])
b = np.array([1.0, 2.0, 3.0])
c = a[:, np.newaxis] + b

In [117]:
print(a.shape)
print(b.shape)
print(c.shape)

(4,)
(3,)
(4, 3)

In [118]:
c

array([[ 1.,  2.,  3.],
       [11., 12., 13.],
       [21., 22., 23.],
       [31., 32., 33.]])

# Extra

In [119]:
c.ndim # c is a 2D Array

2

In [122]:
a.ndim # a is a 1D Array

1

In [126]:
a_int_array = np.array([1, 2, 3, 4, 5])
a_int_array

array([1, 2, 3, 4, 5])

In [127]:
a_int_array.dtype

dtype('int32')

In [132]:
a_int_array.itemsize # 4 bit int number

4

In [130]:
a_float_array = np.array([1, 2, 3, 4], dtype=np.float64)
a_float_array

array([1., 2., 3., 4.])

In [131]:
a_float_array.dtype

dtype('float64')

In [134]:
a_float_array.itemsize # 8 bit float number

8

In [142]:
arr = np.linspace(1, 5, 18, dtype = np.int32)
arr

array([1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5])

In [143]:
arr = np.linspace(1, 100, 18, dtype = np.int32)
arr

array([  1,   6,  12,  18,  24,  30,  35,  41,  47,  53,  59,  65,  70,
        76,  82,  88,  94, 100])

In [167]:
arr = np.ones((3, 5))
a = np.linspace(1, 20, 15, dtype=np.int32)
a.resize(3, 5)
arr = a+arr
arr

array([[ 2.,  3.,  4.,  6.,  7.],
       [ 8., 10., 11., 12., 14.],
       [15., 16., 18., 19., 21.]])

In [168]:
arr.ravel()  #make 1D array

array([ 2.,  3.,  4.,  6.,  7.,  8., 10., 11., 12., 14., 15., 16., 18.,
       19., 21.])

In [169]:
arr

array([[ 2.,  3.,  4.,  6.,  7.],
       [ 8., 10., 11., 12., 14.],
       [15., 16., 18., 19., 21.]])

In [170]:
arr.min()

2.0

In [171]:
arr.max()

21.0

In [172]:
arr.sum()

166.0

In [173]:
arr.sum(axis = 0) # columns sum

array([25., 29., 33., 37., 42.])

In [175]:
arr.sum(axis = 1) # rows sum

array([22., 55., 89.])